<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/homepage.css">
  <title>Document</title>
</head>


<body>
  <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-sm-and-down">
    <div class="sticky-alerts"></div>
    <nav class="navbar">
      <a href="#" class="navbar-brand">
        <img src="/images/Logo.png" alt="...">
        Hotel Plast
      </a>
      <ul class="navbar-nav d-none d-md-flex">
        <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
        <li class="nav-item">
          <a href="#" class="nav-link">Casas</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Apartamentos</a>
        </li>
      </ul>
      <form class="form-inline d-none d-md-flex ml-auto" action="..." method="...">
        <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
        <button class="btn btn-primary" type="submit">Sair</button>
      </form>
      <!-- Navbar content (with the dropdown menu) -->
      <div class="navbar-content d-md-none ml-auto">
        <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
        <div class="dropdown with-arrow">
          <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
            Menu
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
            <!-- w-200 = width: 20rem (200px) -->
            <a href="#" class="dropdown-item">Docs</a>
            <a href="#" class="dropdown-item">Products</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-content">
              <button class="btn btn-primary btn-block" type="submit">Sair</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
    <div class="sidebar">
      <div class="sidebar-menu">
        <!-- Sidebar brand -->
        <a href="#" class="sidebar-brand">
          <img src="/images/Logo.png" alt="...">
          Hotel Plast
        </a>
        <div class="sidebar-content">
          <input type="text" class="form-control" placeholder="Search">
          <div class="mt-10 font-size-12">
          </div>
        </div>
        <h5 class="sidebar-title">Apartamento</h5>
        <div class="sidebar-divider"></div>
        <a href="/anuncie/apartamento" class="sidebar-link">Alugue seu apartamento</a>
        <a href="/anuncie/apartamento" class="sidebar-link">Venda seu apartamento</a>
        <br />
        <h5 class="sidebar-title">Casa</h5>
        <div class="sidebar-divider"></div>
        <a href="/anuncie/casa" class="sidebar-link">Alugue sua Casa</a>
        <a href="/anuncie/casa" class="sidebar-link">Venda sua Casa</a>
        <br />
        <h5 class="sidebar-title">Diponíveis</h5>
        <div class="sidebar-divider"></div>
        <a href="#" class="sidebar-link">Casas</a>
        <a href="#" class="sidebar-link">Apartamento</a>
      </div>
    </div>
    <div class="content-wrapper">
      <h1> <span style="color: rgb(18, 133, 248); font-weight: 600;"><%=User.name %></span> > Home </h1>
      <br>
      <h2> Residencias que estão Disponíveis no momento</h1>
        <br>
        <br>
        <br>
        <br>
        <div class="card">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm"><button class="btn" onclick="window.location.href ='/anuncie/Casa/selected'"
                  style="width: 100%; height: 60px; background-color: rgb(238, 238, 238);" type="button">Casas</button>
              </div>
              <div class="col-sm"><button class="btn" onclick="window.location.href ='/anuncie/Apartamento/selected'"
                  style="width: 100%; height: 60px; background-color: rgb(238, 238, 238);"
                  type="button">Apartamentos</button></div>
              <div class="col-sm"><button class="btn" onclick="window.location.href ='/user/home'"
                  style="width: 100%; height: 60px; background-color: rgb(238, 238, 238);" type="button">Todas as
                  residências</button></div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <% Apartamento.forEach(function(apartamento) { %>
            <div class="col-sm">
              <div class="w-400 mw-full" style="border-radius: 10px; border: 1px solid rgb(231, 231, 231);">
                <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                <div class="card p-0">
                  <!-- p-0 = padding: 0 -->
                  <img src="/<%= apartamento.imagePath %>" class="img-fluid rounded-top" alt="...">
                  <!-- rounded-top = rounded corners on the top -->
                  <!-- Nested content container inside card -->
                  <div class="content">
                    <p class="text-muted">
                      <strong>Preço:</strong> <%= apartamento.Preco %>
                      <br>
                      <strong>Descrição:</strong> <%= apartamento.description %>
                      <br>
                      <strong>Telefone:</strong> <%= apartamento.telephone %>
                      <br>
                      <strong>WhatsApp:</strong> <%= apartamento.whatsapp %>
                      <br>
                      <strong>Email:</strong> <%= apartamento.email %>
                      <br>
                    </p>
                    <br>
                    <div style="width: 100%;" class="text-right">
                      <!-- text-right = text-align: right -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
            <% Casa.forEach(function(apartamento) { %>
              <div class="col-sm">
                <div class="w-400 mw-full" style="border-radius: 10px; border: 1px solid rgb(231, 231, 231);">
                  <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                  <div class="card p-0">
                    <!-- p-0 = padding: 0 -->
                    <img src="/<%= apartamento.imagePath %>" class="img-fluid rounded-top" alt="...">
                    <!-- rounded-top = rounded corners on the top -->
                    <!-- Nested content container inside card -->
                    <div class="content">
                      <p class="text-muted">
                        <strong>Preço:</strong> $ <%= apartamento.Preco %>
                        <br>
                        <strong>Descrição:</strong> <%= apartamento.description %>
                        <br>
                        <strong>Telefone:</strong> <%= apartamento.telephone %>
                        <br>
                        <strong>WhatsApp:</strong> <%= apartamento.whatsapp %>
                        <br>
                        <strong>Email:</strong> <%= apartamento.email %>
                      </p>
                      <br>
                      <div style="width: 100%;" class="text-right">
                        <!-- text-right = text-align: right -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</body>